@using RazorViews.Models;

@{
    string title = "Razor Views Example";
    Person person = new Person { Name = "John", DateOfBirth = Convert.ToDateTime("2005-12-05"), Gender = Gender.Male };
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RazorPages</title>
    <meta name="description" content="Welcome to Razor Pages!" />
    <link rel="icon" href="favicon.ico" />
</head>
<body>
    <main>
        <h1>Hello, @person.Name!</h1>
        <p>Welcome to ASP.NET Core!</p>

        @if (person.DateOfBirth.HasValue)
        {
            int age = DateTime.Now.Year - person.DateOfBirth.Value.Year;
            person.Age = age;
            <p>Based on my calculations, you are @person.Age years old!</p>
        } else
        {
            <p>No date of birth passed to the person object, cannot calculate age without it.</p>
        }

        @switch(person.Gender)
        {
            case Gender.Male:
                <p>Gender: Male</p>
                break;
            case Gender.Female:
                <p>Gender: Female</p>
                break;
            default:
                <p>Gender: Unknown</p>
                break;
        }
    </main>
</body>
</html>