@*
    This is a shared view among multiple controllers. When a controller renders a view, it will first look for the view in its own Views/[ControllerName] folder.
    If it does not find the view there, it will look in the Views/Shared folder.Multiple controllers can share views in this way.
*@
@{
}

<!DOCTYPE html>
    <html>
    <head>
        <title>Common View</title>
    </head>
    <body>
    <h1>
        This is a shared view among multiple controllers. When a controller renders a view, it will first look for the view in its own Views/[ControllerName] folder.
        If it does not find the view there, it will look in the Views/Shared folder.Multiple controllers can share views in this way.
    </h1>
    </body>
    </html>