@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<header class="container">
    <div class="navbar">
        <div class="navbar-brand">Product ID: @ViewBag.ProductId</div>
            <ul>
                <li><a href="/">Home</a> |</li>
                <li><a href="/About">About</a> |</li>
                <li><a href="/Contact">Contact</a> |</li>
                <li><a href="/Products">Products</a> |</li>
                <li><a href="/Products/Search">Search Product</a> |</li>
                <li><a href="/Products/Create">Create Product</a> |</li>
            </ul>
            <hr />
    </div>
</header>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </div>
</body>
</html>
