@{
    ViewBag.Title = "Home";
}

@section Scripts {
    <p>Some Scripts Running, check the console logs</p>
    <p>This is rendered in the common layout via the Index page</p>
    <script>
        console.log("Home Page");
    </script>
}